{% extends 'webapp/base_template.html' %}

{% block body %}
    <h1>Select option</h1>
    <div>
        <a href="{% url 'webapp:convert_to_pdf' %}">Convert PDF to Selectable PDF</a>
    </div>

    <div>
        <a href="{% url 'webapp:convert_to_png' %}">Convert PDF to PNGs</a>
    </div>

    <div>
        <a href="{% url 'webapp:images_to_pdf' %}">Convert Images to PDF</a>
    </div>

    <div>
        <a href="{% url 'webapp:merge_pdfs' %}">Merge PDFs</a>
    </div>

    <div>
        <a href="">Extract text from images/pdfs</a>
    </div>

    <div>
        <a href="">Docx to pdf</a>
    </div>

{% endblock body %}